<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\AdminNotification\Model\Feed">
        <plugin name="fishpig-radio-silence" type="FishPig\RadioSilence\Plugin\CheckUpdatePlugin"/>
    </type>
    <type name="Itoris\Core\Model\Feed">
        <plugin name="fishpig-radio-silence" type="FishPig\RadioSilence\Plugin\CheckUpdatePlugin"/>
    </type>
    <type name="MageWorx\Info\Helper\Data">
        <plugin name="fishpig-radio-silence" type="FishPig\RadioSilence\Plugin\MageWorx\Info\Helper\DataPlugin"/>
    </type>
    <type name="MageMe\Core\Helper\LicenseHelper">
        <plugin name="fishpig-radio-silence" type="FishPig\RadioSilence\Plugin\MageMe\Core\Helper\LicenseHelperPlugin"/>
    </type>
    <type name="Xtento\XtCore\Model\Feed">
        <plugin name="fishpig-radio-silence" type="FishPig\RadioSilence\Plugin\CheckUpdatePlugin"/>
    </type>
</config>
